:root {
	--standaardUniek: #F9F7F3;
	--standaardNormaal: white;
}

*, *::after, *::before {
	box-sizing:border-box;  
}

* {
	margin: 0;
}

header button {
	background-color: transparent;
	border: 0;
}

nav {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	translate: -100% 0%;
	transition: translate .3s;
	background-color: var(--standaardUniek);
	z-index: 2;
}

.navTwee {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	translate: -200% 0%;
	transition: translate .3s;
	background-color: var(--standaardUniek);
	z-index: 2;
}

input {
	border-top: 2px black;
	border-left: 2px black;
	border-right: 2px black;
	margin-bottom: 2em;
}

.toonMenu {
	translate: 0% 0;
}

.toonMenuTwee {
	translate: -10% -5%;
}

header button {
	order: -1;
}

input {
	width: 15em;
	margin-left: 37vw;
}

a {
	color: black;
}

h1 {
	margin-left: 0.3em;
}

.header {
	display: flex;
	justify-content: space-between;
	margin: 2em;
}

.header img {
	max-width: 6.5em;
	max-height: 1.8em;
}

header p:first-child {
	text-align: center;
	background-color: var(--standaardUniek);
	padding: 0.5em;
}

.heren-navigatie {
	background-color: var(--standaardUniek);
}

.heren-navigatie h1 {
	font-size: 2.5em;
}

.heren-navigatie ul {
	list-style-type: none;
	display: flex;
	gap: 1em;
	overflow: scroll;
	padding: 1em;
}

.heren-navigatie ul li {
	position: relative;
}

.heren-navigatie a {
	position: absolute;
	text-decoration: none;
	color: var(--standaardNormaal);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.3em;
}

.heren-navigatie ul li img {
	width: 15.5vw;
}

.winterItems div {
	padding-top: 2em;
	padding-bottom: 1.5em;
	margin-left: 2.5em;
}

.winterItems h2 {
	margin-bottom: 1em;
}

.winterItems ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	gap: 1em;
	overflow: scroll;
	padding: 1em;
	padding-bottom: 2em;
}

.winterItems ul li {
	position: relative;
}

.winterItems ul li a {
	position: absolute;
	text-decoration: none;
	color: var(--standaardNormaal);
	bottom: 1em;
	left: 1em;
	font-size: 1.5em;
}

.winterItems ul li img {
	width: 30vw;
}

.winter-selectie {
	position: relative;
	background-color: var(--standaardUniek);
}

.winter-selectie img {
	width: 100%;
}

.winter-selectie div {
	position: sticky;
	color: var(--standaardNormaal);
	top: 37em;
	text-align: center;
}

.geselecteerdeItems {
	background-color: var(--standaardUniek);
}

.geselecteerdeItems div {
	padding-top: 2em;
	padding-bottom: 1.5em;
	margin-left: 2.5em;
}

.geselecteerdeItems div h2 {
	margin-bottom: 1em;
}

.geselecteerdeItems ul {
	display: flex;
	list-style-type: none;
	overflow: scroll;
}

.geselecteerdeItems li {
	display: flex;
	flex-direction: column;
	max-width: 14em;
	gap: 0.5em;
	margin-bottom: 2em;
}

.geselecteerdeItems li img {
	order: -2;
}

.geselecteerdeItems img {
	margin-right: 1em;
}

#hamburgerMenu ul {
	list-style-type: none;
	margin: 2em;
}

#hamburgerMenu li {
	margin: 0.5em;
}

.samengesteldeOutfits ul li {
	position: relative;
}

.samengesteldeOutfits ul {
	display: flex;
	gap: 1em;
	list-style-type: none;
	overflow: scroll;
	padding-bottom: 2em;
}

.samengesteldeOutfits li p {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--standaardNormaal);
	padding: 1em;
}

.samengesteldeOutfits p:hover {
	padding-right: 5em;
	transition: 0.5s;
}

.samengesteldeOutfits img {
	max-width: 20em;
}

.samengesteldeOutfits div {
	padding-top: 2em;
	padding-bottom: 1.5em;
	margin-left: 2.5em;
}

.samengesteldeOutfits div h2 {
	margin-bottom: 1em;
}

.inspiratie {
	background-color: var(--standaardUniek);
	padding-bottom: 2em;
}

.inspiratie ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	gap: 1em;
	overflow: scroll;
}

.inspiratie li {
	display: flex;
	flex-direction: column;
	max-width: 21em;
}

.inspiratie li img {
	order: -2;
}

.inspiratie img {
	max-width: 20em;
}

.inspiratie img:hover {
	max-width: 21em;
	transition: 0.3s;
}

.inspiratie div {
	padding-top: 2em;
	padding-bottom: 1.5em;
	margin-left: 2.5em;
}

.inspiratie div h2 {
	margin-bottom: 1em;
}

.populaireMerken {
	margin-top: 2em;
}

.populaireMerken ul {
	display: flex;
	list-style-type: none;
	overflow: scroll;
}

.populaireMerken button {
	background-color: transparent;
	border: 0;
}

.populaireMerken img {
	max-width: 22vw;
	min-width: 14em;
	border-radius: 100px;
}

.gratisService {
	display: flex;
	list-style-type: none;
	justify-content: center;
	gap: 2em;
	background-color: var(--standaardUniek);
	padding-bottom: 2em;
}

.gratisService li {
	display: flex;
	flex-direction: row-reverse;
	gap: 1em;
}

.gratisService img {
	max-width: 2em;
	max-height: 2em;
}

.problemenRegelen ul {
	display: flex;
	list-style-type: none;
	gap: 1em;
	justify-content: space-around;
	margin-top: 2em;
	margin-bottom: 2em;
}

.problemenRegelen li {
	display: flex;
	flex-direction: column;
	gap: 1em;
	max-width: 30%;
}

footer {
	background-color: var(--standaardUniek);
	padding-bottom: 5em;
}

footer ul {
	list-style-type: none;
}

details {
	margin-left: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.3em;
}

footer details:first-of-type summary {
	padding-top: 4em;
}

hr {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 0.5em;
	opacity: 30%;
}

.logos {
	list-style-type: none;
	display: flex;
	align-items: center;
	gap: 1em;
	padding-top: 2em;
}

.logos img {
	max-height: 4vw;
	max-width: 12vw;
}

:root {
	--color-text:#111;
	--color-background:#eee;
}

/* Extra responsive code */

@media only screen and (max-width: 950px) {
	.heren-navigatie ul li img {
		width: 10em;
	}
}

@media only screen and (max-width: 400px) {
	.heren-navigatie ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.inspiratie img {
		max-width: 15em;
	}
	.problemenRegelen ul {
		display: flex;
		flex-direction: column;
	}
	.problemenRegelen li {
		max-width: 90%;
	}
}

@media only screen and (max-width: 800px) {
	.winterItems ul li img {
		width: 15em;
	}
}

@media only screen and (max-width: 600px) {
	.gratisService {
		display: flex;
		flex-direction: column;
		max-width: 100%;
		align-items: start;
	}
}