:root {
	--standaardUniek: #F9F7F3;
	--standaardNormaal: white;
}

*, *::after, *::before {
	box-sizing:border-box;  
}

* {
	margin: 0;
}

button {
	background-color: var(--standaardNormaal);
	border: 0;
}

nav {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	translate: -100% 0%;
	transition: translate .3s;
	background-color: var(--standaardUniek);
	z-index: 2;
}

.toonMenu {
	translate: 0% 0;
}

header button {
	order: -1;
}

input {
	width: 15em;
}

a {
	color: black;
}

.header {
	display: flex;
	justify-content: space-between;
	margin: 2em;
}

.header img {
	max-width: 6.5em;
	max-height: 1.8em;
}

header p:first-child {
	text-align: center;
	background-color: var(--standaardUniek);
	padding: 0.5em;
}

.heren-navigatie {
	background-color: var(--standaardUniek);
}

.heren-navigatie h1 {
	font-size: 2.5em;
}

.heren-navigatie ul {
	list-style-type: none;
	display: flex;
	gap: 1em;
	overflow: scroll;
	padding: 1em;
}

.heren-navigatie ul li {
	position: relative;
}

.heren-navigatie a {
	position: absolute;
	text-decoration: none;
	color: var(--standaardNormaal);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.heren-navigatie ul li img {
	width: 10em;
}

.winterItems ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	gap: 1em;
	overflow: scroll;
	padding: 1em;

}

.winterItems ul li {
	position: relative;
}

.winterItems ul li a {
	position: absolute;
	text-decoration: none;
	color: var(--standaardNormaal);
	bottom: 1em;
	left: 1em;
	font-size: 1.5em;
}

.winterItems ul li img {
	width: 20em;
}

.winter-selectie {
	position: relative;
}

.winter-selectie img {
	width: 100%;
}

.winter-selectie div {
	position: absolute;
	color: var(--standaardNormaal);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	text-align: center;
}

.geselecteerdeItems {
	background-color: var(--standaardUniek);
}

.geselecteerdeItems img {
	max-width: 5em;
}

#hamburgerMenu ul {
	list-style-type: none;
	margin: 2em;
}

#hamburgerMenu li {
	margin: 0.5em;
}

:root {
	--color-text:#111;
	--color-background:#eee;
}