:root {
	--standaardUniek: #F9F7F3;
	--standaardNormaal: white;
}

*, *::after, *::before {
	box-sizing:border-box;  
}

* {
	margin: 0;
	font-family: poppins;
	font-weight: normal;
	scrollbar-width: none;
}

header button {
	background-color: transparent;
	border: 0;
	justify-self: start;
	order: -1;
}

header nav {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	translate: -100% 0%;
	transition: translate .3s;
	background-color: var(--standaardNormaal);
	z-index: 2;
}

.navTwee {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	translate: -200% 0%;
	transition: translate .3s;
	background-color: var(--standaardNormaal);
	width: 100%;
	z-index: 2;
}

input {
	border-top: 2px black;
	border-left: 2px black;
	border-right: 2px black;
	margin-bottom: 2em;
	width: 15em;
}

header form {
	width: 100%;
	display: flex;
	justify-content: center;
}

.toonMenu {
	translate: 0% 0;
}

.toonMenuTwee {
	translate: -4em -2em;
}

a {
	color: black;
}

h1 {
	font-size: 2em;
}

.heren-navigatie h1 {
	margin-left: 0.3em;
}

.header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 2em;
}

.header img {
	max-width: 8em;
	max-height: 2em;
	justify-self: center;
}

.header div {
	justify-self: end;
}

header p:first-child {
	text-align: center;
	background-color: var(--standaardUniek);
	padding: 0.5em;
}

.heren-navigatie {
	background-color: var(--standaardUniek);
}

.heren-navigatie h1 {
	font-size: 2.5em;
}

.heren-navigatie ul {
	list-style-type: none;
	display: flex;
	gap: 1em;
	overflow: scroll;
	padding: 1em;
}

.heren-navigatie ul li {
	position: relative;
}

.heren-navigatie a {
	position: absolute;
	text-decoration: none;
	color: var(--standaardNormaal);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.3em;
}

.heren-navigatie ul li img {
	width: 15.5vw;
}

.winterItems div {
	padding-top: 2em;
	padding-bottom: 1.5em;
	margin-left: 2.5em;
}

.winterItems h2 {
	margin-bottom: 1em;
}

.winterItems ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	gap: 1em;
	overflow: scroll;
	padding: 1em;
	padding-bottom: 2em;
}

.winterItems ul li {
	position: relative;
}

.winterItems ul li a {
	position: absolute;
	text-decoration: none;
	color: var(--standaardNormaal);
	bottom: 1em;
	left: 1em;
	font-size: 1.5em;
}

.winterItems ul li img {
	width: 30vw;
}

.winter-selectie {
	position: relative;
	background-color: var(--standaardUniek);
}

.winter-selectie img {
	width: 100%;
}

.winter-selectie div {
	position: sticky;
	color: var(--standaardNormaal);
	top: 37em;
	text-align: center;
}

.winter-selectie a {
	background-color: var(--standaardNormaal);
	text-decoration: none;
}

.geselecteerdeItems {
	background-color: var(--standaardUniek);
}

.geselecteerdeItems div {
	padding-top: 2em;
	padding-bottom: 1.5em;
	margin-left: 2.5em;
}

.geselecteerdeItems div h2 {
	margin-bottom: 1em;
}

.geselecteerdeItems ul {
	display: flex;
	list-style-type: none;
	overflow: scroll;
}

.geselecteerdeItems li {
	display: flex;
	flex-direction: column;
	max-width: 14em;
	gap: 0.5em;
	margin-bottom: 2em;
}

.geselecteerdeItems li img {
	order: -2;
}

.geselecteerdeItems img {
	margin-right: 1em;
}

#hamburgerMenu ul {
	list-style-type: none;
	margin: 2em;
}

#hamburgerMenu li {
	margin: 0.5em;
}

#hamburgerMenu button {
	margin-top: 3em;
	margin-left: 3em;
	margin-bottom: 2em;
}

#hamburgerMenu h2 {
	margin-left: 2em;
}

#hamburgerMenu a {
	text-decoration: none;
}

#hamburgerMenu > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.samengesteldeOutfits ul li {
	position: relative;
}

.samengesteldeOutfits ul {
	display: flex;
	gap: 1em;
	list-style-type: none;
	overflow: scroll;
	padding-bottom: 2em;
}

.samengesteldeOutfits li p {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--standaardNormaal);
	padding: 1em;
}

.samengesteldeOutfits p:hover {
	padding-right: 5em;
	transition: 0.5s;
}

.samengesteldeOutfits img {
	max-width: 20em;
}

.samengesteldeOutfits div {
	padding-top: 2em;
	padding-bottom: 1.5em;
	margin-left: 2.5em;
}

.samengesteldeOutfits div h2 {
	margin-bottom: 1em;
}

.inspiratie {
	background-color: var(--standaardUniek);
	padding-bottom: 2em;
}

.inspiratie ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	gap: 1em;
	overflow: scroll;
}

.inspiratie li {
	display: flex;
	flex-direction: column;
	max-width: 21em;
}

.inspiratie li img {
	order: -2;
}

.inspiratie img {
	max-width: 20em;
}

.inspiratie img:hover {
	max-width: 21em;
	transition: 0.3s;
}

.inspiratie div {
	padding-top: 2em;
	padding-bottom: 1.5em;
	margin-left: 2.5em;
}

.inspiratie div h2 {
	margin-bottom: 1em;
}

.populaireMerken {
	margin-top: 2em;
}

.populaireMerken ul {
	display: flex;
	list-style-type: none;
	overflow: scroll;
}

.populaireMerken button {
	background-color: transparent;
	border: 0;
}

.populaireMerken img {
	max-width: 22vw;
	min-width: 14em;
	border-radius: 100px;
}

.gratisService {
	display: flex;
	list-style-type: none;
	justify-content: center;
	gap: 2em;
	background-color: var(--standaardUniek);
	padding-bottom: 2em;
	padding-top: 2em;
}

.gratisService li {
	display: flex;
	flex-direction: row-reverse;
	gap: 1em;
}

.gratisService img {
	max-width: 2em;
	max-height: 2em;
}

.problemenRegelen ul {
	display: flex;
	list-style-type: none;
	gap: 1em;
	justify-content: space-around;
	margin-top: 2em;
	margin-bottom: 2em;
}

.problemenRegelen li {
	display: flex;
	flex-direction: column;
	gap: 1em;
	max-width: 30%;
}

footer {
	background-color: var(--standaardUniek);
	padding-bottom: 5em;
}

footer ul {
	list-style-type: none;
}

details {
	margin-left: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.3em;
}

footer details:first-of-type summary {
	padding-top: 4em;
}

hr {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 0.5em;
	opacity: 30%;
}

.logos {
	list-style-type: none;
	display: flex;
	align-items: center;
	gap: 1em;
	padding-top: 2em;
}

.logos img {
	max-height: 4vw;
	max-width: 12vw;
}

:root {
	--color-text:#111;
	--color-background:#eee;
}

/* Code voor pagina 2 */

main > a {
	margin-left: 2.5em;
}

.fotos img {
	max-width: 20em;
	justify-self: center;
}

.product {
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: 2em;
}

.product div {
	min-width: 40vw;
	margin-right: 2em;
	margin-left: 1em;
}

.omschrijving {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.omschrijving > p:first-of-type {
	color: orange;
}

.omschrijving div {
	display: flex;
	gap: 0.5em;
}

.omschrijving s, p {
	padding: 0.2em;
}

.omschrijving ul {
	display: flex;
	gap: 0.5em;
	flex-wrap: wrap;
}

.omschrijving ul:first-of-type button {
	background-color: transparent;
	border: none;
}

.omschrijving img {
	max-width: 4em;
}

.omschrijving div p:first-of-type {
	color: purple;
}

.omschrijving div p:nth-last-of-type(1) {
	background-color: purple;
	color: var(--standaardNormaal);
}

.omschrijving ul:nth-of-type(2) button {
	border-radius: 50px;
	min-width: 3.5em;
	min-height: 3.5em;
	background-color: var(--standaardNormaal);
}

.omschrijving p:nth-of-type(3) {
	background-color: #F2F1F0;
	padding: 1em;
}

.omschrijving div:nth-of-type(2) button:first-of-type {
	background-color: orange;
	border: none;
	padding: 1em;
	color: var(--standaardNormaal);
	width: 50vw;
}

.omschrijving div:nth-of-type(2) button:nth-of-type(2) {
	background-color: var(--standaardNormaal);
	border: none;
}

.omschrijving details ul {
	display: flex;
	flex-direction: column;
	text-align: right;
	max-width: 100%;
}

.omschrijving details ul li {
	display: flex;
	justify-content: space-between;
	font-size: small;
	gap: 10vw;
}

.omschrijving details button {
	background-color: var(--standaardNormaal);
	width: 80%;
	height: 3em;
	margin: 2em;
}

.product ul {
	list-style-type: none;
}

.product div:nth-of-type(2) {
	padding-left: 2em;
}

.bekijkMeer {
	text-align: center;
	margin-bottom: 4em;
}

.bekijkMeer h3 {
	margin-bottom: 1em;
}

.bekijkMeer a {
	font-size: small;
	display: inline-block;
	margin: 0.5em;
	text-decoration: none;
	border: solid;
	border-radius: 30px;
	width: 20em;
	padding: 0.5em;
}

.bekijkMeer ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	gap: 0.5em;
	justify-content: center;
}

.geselecteerdeItemsTwee {
	background-color: var(--standaardNormaal);
	margin-bottom: 2em;
}

.geselecteerdeItemsTwee div {
	padding-top: 2em;
	padding-bottom: 1.5em;
	margin-left: 2.5em;
}

.geselecteerdeItemsTwee h2 {
	margin-bottom: 1em;
	text-align: center;
}

.geselecteerdeItemsTwee ul {
	display: flex;
	list-style-type: none;
	overflow: scroll;
}

.geselecteerdeItemsTwee li {
	display: flex;
	flex-direction: column;
	max-width: 14em;
	gap: 0.5em;
	margin-bottom: 2em;
}

.geselecteerdeItemsTwee li img {
	order: -2;
}

.geselecteerdeItemsTwee img {
	margin-right: 1em;
}

/* Extra responsive code */

@media only screen and (max-width: 950px) {
	.heren-navigatie ul li img {
		width: 10em;
	}
}

@media only screen and (max-width: 400px) {
	.header div img {
		max-width: 1.9em;
		max-height: 1.9em;
	}
	.header div img:first-of-type {
		max-width: 1.4em;
		max-height: 1.4em;
	}
	.heren-navigatie ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.inspiratie img {
		max-width: 15em;
	}
	.problemenRegelen ul {
		display: flex;
		flex-direction: column;
	}
	.problemenRegelen li {
		max-width: 90%;
	}
}

@media only screen and (max-width: 800px) {
	.winterItems ul li img {
		width: 15em;
	}
}

@media only screen and (max-width: 600px) {
	.gratisService {
		display: flex;
		flex-direction: column;
		max-width: 100%;
		align-items: start;
	}
	.product {
		display: flex;
		flex-direction: column-reverse;
	}
	.caroCarrousel {
		position: relative;
	}
}

@media only screen and (min-width: 600px) and (max-width: 1100px) {
	.caroCarrousel {
		max-height: max-content;
		position: sticky;
		top: 20px;
	}
}

@media only screen and (min-width: 1100px) {
	.knoppen img {
		display: none;
	}
	.fotos {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		min-width: 60%;
	}
	.fotos img {
		max-width: 24vw;
		padding: 0.1em;
	}
	.omschrijving {
		max-width: 40%;
	}
}

/* Code carrousel */
/********************/
/* ALGEMENE STIJLEN */
/********************/

*, *::before, *::after {
	box-sizing: border-box;
  }
  
  :root {
	  --maxWidth:32rem;
  }
  
  body {
	  grid-template-columns: minmax(auto, var(--maxWidth));
	  justify-content:center;
  }
  
	
  /******************************/
  /* DE CAROCARROUSEL CONTAINER */
  /******************************/
  
  .caroCarrousel {
	  /* basis waarden die door de hele carrousel gebruikt worden */
	  /* kun je zelf aanpassen */
	  --caroCarrouselMainColor:#333;
	--caroCarrouselAccentColor:#1b75b3;
	  --caroCarrouselShadeColor:#ddd9;

	overflow: hidden; /* om de linkbuttons te verbergen */
	  outline:none;
  }
  
.caroCarrousel ul {
	display: flex;
}

  /* dark mode */
  @media (prefers-color-scheme: dark) {
	header, main, footer {
		background-color: #3C3C3C;
		color: white;
	}
	.bekijkMeer, .caroCarrousel, .fotos, .geselecteerdeItems, .geselecteerdeItemsTwee, .gratisService, .header, .heren-navigatie, .inspiratie, .knoppen, .logos, .navTwee, .omschrijving, .populaireMerken, .problemenRegelen, .product, .samengesteldeOutfits, .toonMenu, .toonMenuTwee, .winter-selectie, .winterItems {
		background-color: #3C3C3C;
	}
	a {
		color: white;
	}
  }
  
  
	@media only screen and (max-width: 1100px){

	/************************************/
	/* de carrousel elementen container */
	.caroCarrousel > ul {
		/* margin: 0; padding: 0; */
		list-style: none;
		display: flex;

		/* handmatig scrollen is mogelijk */
		overflow: hidden;
		
		/* snappen als er gescrolled wordt - andere helft bij li */
		scroll-snap-type: inline mandatory;
		
		/* smooth scrollen */
		scroll-behavior: smooth;
		
		/* scrollbar zoveel mogelijk verbergen */
		-webkit-overflow-scrolling: touch; /* voor iOS*/
		-ms-overflow-style: none; /* voor IE */
	}
	
	.caroCarrousel > ul::-webkit-scrollbar {
		/* scrollbar zoveel mogelijk verbergen */
		display: none; /* voor chrome, safari en edge*/
	}
	
	
	/**************************/
	/* de carrousel elementen */
	.caroCarrousel > ul li {
		flex-basis: 100%;
		flex-shrink: 0;
		/* snappen als er gescrolled wordt - andere helft bij ul */
		scroll-snap-align:center;
	}
	
	
	/**********************************/
	/* de carrousel elementen content */
	
	/* de stijlen voor jouw content hier */
	.caroCarrousel > ul li > img {
		display: block;
		width: 100%;
	}
	
	
	/****************/
	/* DE BOLLETJES */
	/****************/
	
	/* de bolletjes container */
	.caroCarrousel nav ul {
		position: absolute;
		left: 2em; right: 2em;
		bottom: 0;
		margin: 0;
		padding: 0 0 .5em;
		list-style: none;
		
		display: flex;
	/* 	flex-wrap:wrap; */
		justify-content: center;
		gap:.4em;
	}
	
	/* een bolletje container */
	.caroCarrousel > nav li {
		flex-basis: 1.2em;
		aspect-ratio: 1/1;
	}
	
	/* de bolletjes */
	.caroCarrousel > nav a {
		display: block;
		width:100%;
		height:100%;
		
		text-decoration: none;
		color: var(--caroCarrouselMainColor);
		background-color: var(--caroCarrouselShadeColor);
		border-radius: 50%;
		outline: none;
		box-shadow: inset 0 0 0 1px currentColor;
		
		transition: 0.5s;
	}
	
	.caroCarrousel > nav a:hover,
	.caroCarrousel > nav a:focus {
		color: var(--caroCarrouselAccentColor);
	}
	
	.caroCarrousel > nav a.current {
		background-color: currentColor;
	}
	
	
	/****************************/
	/* PREV EN NEXT LINKBUTTONS */
	/****************************/
	.caroCarrousel > a {
		position: absolute;
		width: 3em;
		aspect-ratio:1/1;
		top: calc(50% - 1.5em);
		
		color: var(--caroCarrouselMainColor);
		background-color: var(--caroCarrouselShadeColor);
		outline: none;
		box-shadow: inset 0 0 0 1px currentColor;
		
		display:grid;
		place-items:center;
		
		transition: 0.5s;
	}
	
	/* initieel staan de links "buiten beeld" */
	.caroCarrousel > a[href="previous"] {
		left:-3.5em;
	}
	.caroCarrousel > a[href="next"] {
		right: -3.5em;
	}
	
	/* bij hover en focus schuiven de links in beeld */
	.caroCarrousel:hover > a[href="previous"],
	.caroCarrousel:focus-within > a[href="previous"] {
		left:.5em;
	}
	.caroCarrousel:hover > a[href="next"],
	.caroCarrousel:focus-within > a[href="next"] {
		right:.5em;
	}
	
	/* prev en next linkbuttons pijltjes */
	.caroCarrousel > a::before,
	.caroCarrousel > a::after {
		content: "";
		position: absolute;
		width: 1em; height: 4px;
		background-color: currentColor;
	}
	
	.caroCarrousel > a[href=previous]::before {
		transform-origin: 2px center;
		transform: translateY(0) rotate(45deg);
	}
	.caroCarrousel > a[href=previous]::after {
		transform-origin: 2px center;
		transform: translateY(0) rotate(-45deg);
	}
	
	.caroCarrousel > a[href=next]::before {
		transform-origin: calc(100% - 2px) center;
		transform: translateY(0) rotate(45deg);
	}
	.caroCarrousel > a[href=next]::after {
		transform-origin: calc(100% - 2px) center;
		transform: translateY(0) rotate(-45deg);
	}
	
	.caroCarrousel > a:hover,
	.caroCarrousel > a:focus {
		color: var(--caroCarrouselAccentColor);
	}

	.fotos {
		margin-bottom: 6em;
		justify-self: start;
	}
	.fotos {
		margin-bottom: 7em;
	}
	
	.product .fotos img {
		max-width: 20em;
		justify-self: center;
	}
	
	.product .knoppen img {
		max-width: 5em;
	}
}